

body{

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  margin: 0%;

}
.top-bare{
  width: 100%;
  height: 75px;
  margin-left: -30px;
  flex-shrink: 0;
  border-bottom: 2px solid rgba(7, 76, 114, 0.38);
  background: linear-gradient(0deg, var(--BleuBase, #074C72) 0%, var(--BleuBase, #074C72) 100%), rgba(255, 255, 255, 0.40);
margin: 0px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap:40px
}
.link a{
  color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}
.login-btn{
  border-radius: 12px;
background: #FFF;

width: 206px;
height: 48px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
}

.login-btn a{
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}
a{
  text-decoration: none;
}

/* code de main-contenaire */


.main-container{
  /* background-image: url('./../../..//assets/images/BG_images/Section.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.profil-section{
  width: 350px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.profil-infos{
  width: 276px;
  height: 320px;
flex-shrink: 0;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: left;
text-align: left;
justify-content: center;
gap: 10px;
background: var(--BleuBase, #074C72);
color: var(--Blanc, #FFF);

font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
}

.main-container .profil-img {
  margin-top:-40px;
  width: 90px;
height: 90px;
flex-shrink: 0;
margin-left: 94px;
border-radius: 90px;

}

.main-container .profil-contente{
  justify-content: left;
  width: 250px;
  align-items: left;
margin-left: 30px;

}


.lougout-btn{
  display: flex;
  justify-content: center;
  display: flex;

}
.btn_lougout{
  width: 192px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid var(--Jaunebase, #FF9F02);
color: var(--Blanc, #FFF);

font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
background: transparent;
}

/* code section des btn d'ajout */

.btn-section_{
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 8px;
background: var(--GrisBase, #D9D9D9);
width: 255px;
height: 176px;
flex-shrink: 0;
}


/* code du contenaire de colis */


.container{
  width: 817px;
height: 787px;
flex-shrink: 0;
border-radius: 8px;
background: var(--BleuBase, #074C72);
margin-left: -30px;
}


.main-container.section-recherche{
  display: flex;
  flex-direction: column;
align-items: center;

}
.notification{
  width: 216px;
height:200px;
flex-shrink: 0;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
gap:15px;
border-radius: 8px;
background: var(--BleuBase, #074C72);

}

.notification p{
  color: rgba(255, 255, 255, 0.80);
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}


.compteur-notification{

  display: flex;
width: auto;
height: auto;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 10px;
border-radius: 8px;
background: var(--Blanc, #FFF);
color: var(--Jaunebase, #FF9F02);
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 47.059% */
margin-bottom: 20px;
}

.compteur-notification p{
  padding: 2px;
  color: var(--Jaunebase, #FF9F02);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 47.059% */
align-self: stretch;
}


.btn-ajout-colis button{
  display: flex;
width: 205px;
height: 51px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background: var(--Jaunebase, #FF9F02);
border: 0px;
}

.recherche{
  display: inline-flex;
  width: 250px;
margin-top: 25px;
height: 50px;
padding: 10px 18px;
align-items: center;

flex-shrink: 0;
border-radius: 8px;
border: 2px solid var(--BleuBase, #074C72);
margin-left: -20px;
}


.recherche input{


  width: 250px;
  border: 0px;
  color: var(--BleuBase, #074C72);
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
background: transparent;

/* line-height: 45px; 250% */
}


.recherche button{
  border: 0px;
  margin-left: -35px;
  background: transparent;
}

.filter{
  display: flex;
width: 101px;
height: 50px;
padding: 10px 18px;
justify-content: center;
align-items: center;
gap: 356px;
flex-shrink: 0;
border-radius: 8px;
border: 2px solid var(--BleuBase, #074C72);
background: var(--Blanc, #FFF);
}
.rechercheFilter{
  margin-top: 40px;
  display: flex;
width: 400px;
height: 50px;
padding: 10px 18px;
align-items: center;
gap: 356px;
flex-shrink: 0;
border-radius: 8px;
border: 2px solid var(--BleuBase, #074C72);
background: var(--Blanc, #FFF);

line-height: 45px; /* 250% */
}

.rechercheFilter h2{
  width: 400px;
  color: var(--BleuBase, #074C72);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}

.row{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
  margin: 10px;
  width: 100%;
  height: 100%;

}
.colis-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%;
  height: 100%; */
}
.colis-item-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
  margin: 10px;
  width: 300px;
height: 384px;
}
.card-body{
  margin: 10px;
  width: 300px;
height: 340px;
padding: 20px;
flex-shrink: 0;
border-radius: 4px;
background: #F5F5F5;
box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
}
