<div class="container-fluid">
  <header class="header d-flex justify-content-between align-items-center p-3">
      <div class="logo d-flex align-items-center">
          <img src="./../../../../../assets/images/logos_icons/logoM2.png" alt="Logo" class="header-logo">
      </div>
      <div class="info-user d-flex align-items-center">
          <span class="me-3">{{ userProfile.prenom }} {{ userProfile.nom }}</span>
          <img class="nav-link" id="profil-tab" data-bs-toggle="tab" data-bs-target="#profil" alt="Photo de profil" src="{{ userProfile.photo_profil }}">
          <button class="btn btn-danger btn-sm ms-2" (click)="onLogout()">Déconnexion</button>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </header>

  <div class="row">
      <nav class="sidebar">
          <ul class="nav flex-column">
              <li class="nav-item">
                  <button class="nav-link active" id="GP-tab" data-bs-toggle="pill" data-bs-target="#GP" type="button">
                      <i class="fas fa-chart-line"></i>
                      <span class="nav-text">GP disponible</span>
                  </button>
              </li>
              <li class="nav-item">
                  <button class="nav-link" id="notifications-tab" data-bs-toggle="pill" data-bs-target="#notifications" type="button">
                      <i class="fas fa-bell"></i>
                      <span class="nav-text">Notifications</span>
                  </button>
              </li>
              <li class="nav-item">
                  <button class="nav-link" id="activity-tab" data-bs-toggle="pill" data-bs-target="#activity" type="button">
                      <i class="fas fa-history"></i>
                      <span class="nav-text">Activité Récente</span>
                  </button>
              </li>
              <li class="nav-item">
                  <button class="nav-link" id="livraison-tab" data-bs-toggle="pill" data-bs-target="#livraison" type="button">
                      <i class="fas fa-truck"></i>
                      <span class="nav-text">Mes colis</span>
                  </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" id="activity-tab" data-bs-toggle="pill" data-bs-target="#historique" type="button">
                    <i class="fas fa-history"></i>
                    <span class="nav-text">Mon historique</span>
                </button>
            </li>
              <li class="nav-item">
                  <button class="nav-link" id="profil-tab" data-bs-toggle="pill" data-bs-target="#profil" type="button">
                      <i class="fas fa-user"></i>
                      <span class="nav-text">Mon profil</span>
                  </button>
              </li>
          </ul>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
          <h2 class="mb-4">Dashboard Admin de Rahma Delivery</h2>

          <div class="tab-content" id="dashboardTabsContent">
              <div class="tab-pane fade show active" id="GP" role="tabpanel" aria-labelledby="GP-tab">
                  <div class="custom-card">
                      <h5>GP disponible</h5>
                      <div class="table-responsive">
                          <app-annonce-gp></app-annonce-gp>
                      </div>
                  </div>
              </div>

              <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                <div class="custom-card">
                  <h5>Notifications</h5>
                  <app-notifications></app-notifications>

              </div>
              </div>

              <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                  <div class="custom-card">
                      <h5>Activités Récentes</h5>
                      <li *ngFor="let activity of activities">
                        {{ activity.action }} - {{ activity.created_at | date:'short' }}
                      </li>

                  </div>
              </div>

              <div class="tab-pane fade" id="livraison" role="tabpanel" aria-labelledby="livraison-tab">
                  <div class="custom-card">
                      <h5>Mes Colis</h5>
                      <div class="table-responsive">
                          <app-colis></app-colis>
                      </div>
                  </div>
              </div>


              <div class="tab-pane fade" id="historique" role="tabpanel" aria-labelledby="historique-tab">
                <div class="custom-card">
                    <h5>Mon  Historique</h5>
                    <li>
                      historique
                    </li>

                </div>
            </div>
              <div class="tab-pane fade" id="profil" role="tabpanel" aria-labelledby="profil-tab">
                  <div class="custom-card">
                      <h5>Mon Profil</h5>
                      <div class="table-responsive">
                          <app-profil></app-profil>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
</div>
