/* Code du header */
.header {
  background-color: #074C72;
  color: #f9f9f9;
  padding: 10px 20px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;gap: 20vh;
  position:-webkit-sticky;

}

.logo{
  gap: 10rem;
}
.header-logo {
  width: 210px; /* Ajuste la taille du logo */
  height: auto; /* Assure que la hauteur s'adapte proportionnellement */
}
.info-user{
  gap: 10vh;
}
.user-info img {
  border-radius: 50%;
  width: 100px;
  height:100px;
  gap: 20vh;

  margin-right: 10px;
}
.user-info  {


  gap: 20vh;


}

.btn{
  width: 200px;
}
/* Styles supplémentaires pour assurer la réactivité */
@media (max-width: 768px) {
  .header {
    padding: 20px;
    padding-top: 40px;
    flex-direction: column;
    height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-direction: column;
    justify-content: center;

  }

  .header-logo {
    width:100%;
    margin: 40px;
    margin-top: 30px;
    display: flex;

    flex-direction: row;
  }
  .logo{
    margin-top: 80px;
    display: flex;
    gap: 0.5rem;

    flex-direction: row;
  }
  .info-user  {
    visibility: hidden;
   display: none;
    }
  .user-info  {
    visibility: hidden;
   display: none;
    }
    .d-flex {
      /* display: flex !important; */
      display: block;

  }
}




body {
    background-color: #f9f9f9;
}
.custom-card {
    border-radius: 10px;
    background-color: #fdfdfd;
    color: #074C72;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-title {
    color: #B50302;
    background: #1E4C72;
}
.tab-content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
}
.btn-custom {
    background-color: #068632;
    color: white;
}
.static-header {
    background-color: #1E4C72;
    color: #f9f9f9;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.user-info span {
    margin-right: 15px;
}
