:root {
  --primary-color: #1E4C72; /* Couleur principale */
  --secondary-color: #D6111A; /* Couleur secondaire */
  --background-color: #F4F4F4; /* Couleur de fond */
  --text-color: #333; /* Couleur du texte */
  --white: #FFFFFF; /* Blanc */
  --gray-light: #D9D9D9; /* Gris clair */
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--background-color);
}

.top-bare {
  height: 75px;
  background: linear-gradient(0deg, var(--primary-color) 0%, var(--primary-color) 100%);
  border-bottom: 2px solid rgba(30, 76, 114, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.link {
  display: flex;
  gap: 40px;
}

.link a {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 45px;
  transition: color 0.3s;
}

.link a:hover {
  color: var(--secondary-color);
}

.login-btn {
  border-radius: 12px;
  background: var(--white);
  width: 206px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.login-btn:hover {
  background: var(--gray-light);
}

.login-btn a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
}

.main-container {
  background-image: url('./../../../../assets/images/BG_images/Section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}

.profil-section {
  width: 350px;
  margin-top: 30px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil-infos {
  width: 276px;
  height: 320px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  background: var(--primary-color);
  color: var(--white);
  padding: 20px;
}

.main-container .profil-img {
  margin-top: -40px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid var(--white);
}

.lougout-btn {
  display: flex;
  justify-content: center;
}

.btn_lougout {
  width: 192px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  color: var(--white);
  background: transparent;
  transition: background 0.3s;
}

.btn_lougout:hover {
  background: var(--secondary-color);
}

.btn-section_ {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gray-light);
  width: 255px;
  height: 176px;
  border-radius: 8px;
  padding: 20px;
}

.container {
  width: 100%;
  padding: 30px 0;
  border-radius: 8px;
  background: var(--primary-color);
}

.main-container.section-recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification {
  width: 216px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  background: var(--primary-color);
}

.notification p {
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  font-weight: 600;
}

.compteur-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: var(--white);
  color: var(--secondary-color);
  font-size: 34px;
  padding: 10px;
}

.compteur-notification p {
  padding: 2px;
  color: var(--secondary-color);
}

.btn-ajout-colis button {
  width: 205px;
  height: 51px;
  border-radius: 8px;
  background: var(--secondary-color);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-ajout-colis button:hover {
  background: #B50302;
}

.recherche {
  width: 250px;
  margin-top: 25px;
  height: 50px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px 18px;
  display: flex;
  align-items: center;
}

.recherche input {
  width: 100%;
  border: none;
  color: var(--primary-color);
  text-align: center;
  font-size: 18px;
}

.recherche button {
  border: none;
  background: transparent;
}

.filter {
  width: 101px;
  height: 50px;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background: var(--white);
}

.rechercheFilter {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background: var(--white);
}

.rechercheFilter h2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 12px;
}

.row {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
}

.colis-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colis-item-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card-body {
  margin: 10px;
  width: 300px;
  height: 340px;
  padding: 20px;
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.table {
  margin-top: 20px;
  width: 100%;
}
tr{
  background-color:#1E4C72;
  width: 30%;

}

.thead-dark th {
  background-color:#1E4C72;
  color: var(--white);
}

.table tbody tr:hover {
  background-color: #1E4C72;
}

.badge {
  color: #1E4C72;
  font-size: 0.9em;
  padding: 0.5em 0.7em;
}

.img-thumbnail {
  border-radius: 0.25rem;
}

tbody tr {
  background: transparent;
}

td {
  font-size: 12px;
  color: var(--text-color);
}

thead {
  border-radius: 12px;
}

thead tr th {
  background: var(--white);
  color: var(--primary-color);
  font-size: 12px;
}

td button {
  margin: 5px;
}

td .btn {
  width: 120px;
  background: var(--secondary-color);
}

td .btnSupp {
  width: 120px;
  background: var(--secondary-color);
}

.top-bare {
  margin-bottom: 20px;
}
