<div class="container py-5">
  <!-- Barre de recherche -->
  <div class="d-flex justify-content-center justify-content-md-between mb-5">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterColis()"
      placeholder="🔍 Rechercher un colis"
      class="form-control form-control-lg rounded-pill px-4 shadow-sm border-primary search-input"
      style="max-width: 600px;"
    />
  </div>

  <!-- Liste des colis -->
  <div class="row">
    <div class="col-md-4" *ngFor="let colis of paginatedColis">
      <!-- Card -->
      <div class="card h-100 shadow-sm transform-on-hover">
        <div class="ratio ratio-4x3">
          <img *ngIf="colis.image_1" [src]="colis.image_1" alt="Image du colis" class="colis-image" />
          <ng-template #noImage>
            <img src="assets/default-image.jpg" alt="Image par défaut" class="colis-image" />
          </ng-template>
        </div>
        <div class="card-body bg-light-gradient">
          <h4 class="card-title text-primary">{{ colis.titre }}</h4>
          <p class="card-text">{{ colis.description || 'Pas de description disponible' }}</p>
          <div class="d-flex justify-content-between text-muted small mb-3">
            <span><i class="bi bi-weight"></i> {{ colis.poids_kg }} kg</span>
            <span><i class="bi bi-geo-alt"></i> {{ colis.adresse_expediteur }}</span>
          </div>
          <p class="text-muted small"><i class="bi bi-calendar"></i> {{ colis.date_envoi | date: 'dd/MM/yyyy' }}</p>
          <a
            [routerLink]="'/mon-colis/' + colis.id"
            class="btn btn-primary btn-sm btn-hover"
          >
            Détails du colis
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-outline-primary" (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
    <span class="mx-3">Page {{ currentPage }} sur {{ totalPages }}</span>
    <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
  </div>
</div>
