

.sidebar {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--BleuBase, #074C72);
  padding: 10px 0;
  color: #fff;
  position: fixed;
  z-index: 1000;
}

.sidebar a {
  color: #adb5bd;
  text-decoration: none;
  font-size: 0.9rem;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar .nav-item {
  padding: 10px 15px;
}

.sidebar .nav-item .collapse {
  background-color: #053a5b;
  border-radius: 4px;
}

.sidebar .nav-item .collapse a {
  font-size: 0.85rem;
}

.sidebar .logo img {
  max-width: 80%;
  margin: 0 auto;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

li {
  padding: 10px 15px;
}
/* sidebar.component.css */
.sidebar .nav-link.active {
  background-color: #FF9F02; /* Ou toute autre couleur de votre choix */
  color: #fff;
}

.sidebar .nav-link {
  color: #adb5bd;
  text-decoration: none;
  font-size: 0.9rem;
}

.sidebar .nav-link:hover {
  color: #fff;
}





/* For mobile screens */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.d-none {
    transform: translateX(0);
  }

  .sidebar .nav-item {
    padding: 8px 12px;
  }
}
