.top-bare{
  width: 100%;
  height: 75px;

  flex-shrink: 0;
  border-bottom: 2px solid rgba(7, 76, 114, 0.38);
  background: linear-gradient(0deg, var(--BleuBase, #074C72) 0%, var(--BleuBase, #074C72) 100%), rgba(255, 255, 255, 0.40);
/* margin: 0px; */
display: flex;
margin-top: -60px;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
position: fixed;
width: 100%;

}

.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap:40px
}
.link a{
  color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}
.login-btn{
  border-radius: 12px;
background: #FFF;

width: 206px;
height: 48px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
}

.login-btn a{
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}
a{
  text-decoration: none;
}
