
    <div class="sidebar">
        <div class="logo">
            <img src="sideBareGP.png" alt="Logo Rahma" />
        </div>
        <ul class="nav-links">
            <li><a href="#"><img src="icons/home-icon.png" alt="Home icon"> Accueil</a></li>
            <li><a href="#"><img src="icons/colis-icon.png" alt="Colis icon"> Colis</a></li>
            <li><a href="#"><img src="icons/announce-icon.png" alt="Announce icon"> Faire une annonce</a></li>
            <li><a href="#"><img src="icons/mes-annonces-icon.png" alt="Mes annonces icon"> Mes annonces</a></li>
            <li><a href="#"><img src="icons/revenue-icon.png" alt="Revenues icon"> Mes revenus</a></li>
            <li><a href="#"><img src="icons/add-colis-icon.png" alt="Ajouter colis icon"> Ajouter un colis</a></li>
        </ul>
    </div>
