<div class="form-container">
<div class="texte-welcome">
  <h2>Bienvenue chez <span>Rahma Delivery</span></h2>
</div>


<div class="body">
  <div class="logo">
    <img src="./../../../../assets/images/logos_icons/logorouge.png" alt="">
  </div>
  <form (ngSubmit)="connexion()" [formGroup]="loginForm" class="register-form">
  <!-- Informations de Connexion -->
<h3>Entrez vos coordonné de connexion</h3>

  <div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Entrez votre Email" required />
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Entrez votre mot de passe" required />
    </div>

    <button type="submit" class="btn-connect" [disabled]="!loginForm.valid">Connexion</button>

    <div class="createCompte">
      <p>Pas de comptes ? <a href="registerClient"> <span>Créer un maintenant</span></a></p>
    </div>

  </div>

</form>

</div>
</div>
