
<div class="top-bare">

  <div class="logo">
    <img src="./../../../../assets/images/logos_icons/logoM2.png" alt="logo">
  </div>
  <div class="link">
    <a routerLink="accueil">Accueil</a>
    <a routerLink="accueil">A propos</a>
    <a routerLink="accueil">Services</a>
    <a routerLink="accueil">Contact</a>

  </div>
  <div class="login-btn">
    <a href ="connexion">{{ userProfile.nom }}</a>
    <img class="profil_photo" src="{{ userProfile.photo_profil }}" alt="Photo de profil" class="rounded-circle mb-3" width="150" />

  </div>
</div>

<div class="body-content">

      <!-- Profil utilisateur -->
        <div class="profil_">
          <div class="profil-photo_profil">
              <img src="{{ userProfile.photo_profil }}" alt="Photo de profil" class="rounded-circle mb-3" width="150" />
            <h3>{{ userProfile.email }}</h3>

              <p>{{ userProfile.nom }}</p>


            </div>

          <div class="profil-infos">
            <h4>Information</h4>
            <h3>{{ userProfile.prenom }}</h3>
            <p>{{ userProfile.nom }}</p>
            <p>{{ userProfile.email }}</p>
            <p>{{ userProfile.commuune }}</p>
            <p>{{ userProfile.adresse }}</p>
          </div>
        </div>


  <div class="container">


    <!-- Formulaire de mise à jour du profil -->
    <div class="formulaire">
      <form class="col-md-6" [formGroup]="profilForm" (ngSubmit)="onSubmit()">
        <div class="input">

        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom:</label>
          <input id="prenom" class="form-control" formControlName="prenom" type="text" />
        </div>

        <div class="mb-3">
          <label for="nom" class="form-label">Nom:</label>
          <input id="nom" class="form-control" formControlName="nom" type="text" />
        </div>
        </div>
        <div class="input">

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" class="form-control" formControlName="email" type="email" />
        </div>

        <div class="mb-3">
          <label for="telephone" class="form-label">Téléphone:</label>
          <input id="telephone" class="form-control" formControlName="telephone" type="text" />
        </div>
        </div>
        <div class="input">

        <div class="mb-3">
          <label for="adress" class="form-label">Adresse:</label>
          <input id="adress" class="form-control" formControlName="adress" type="text" />
        </div>

        <div class="mb-3">
          <label for="commune" class="form-label">Commune:</label>
          <input id="commune" class="form-control" formControlName="commune" type="text" />
        </div>
        </div>
        <div class="input">

        <div class="mb-3">
          <label for="password" class="form-label">Nouveau mot de passe:</label>
          <input id="password" class="form-control" formControlName="password" type="password" />
        </div>

        <div class="mb-3">
          <label for="password_confirmation" class="form-label">Confirmation du nouveau mot de passe:</label>
          <input id="password_confirmation" class="form-control" formControlName="password_confirmation" type="password" />
        </div>
        </div>
        <div class="input">

          <div class="mb-3">
            <label for="photo_profil" class="form-label">Photo de profil:</label>
            <input id="photo_profil" class="form-control" type="file" (change)="onFileChange($event)" />
          </div>

          <button type="submit" class="btn ">Mettre à jour le profil</button>
        </div>

      </form>
    </div>
  </div>






