:root {
  --text-color: #FFF;
  --background-color: #074C72;
  --light-gray: rgba(183, 183, 183, 0.32);
  --dark-gray: #888;
  --white: #FFF;
  --red: red;
}

.body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: var(--red);
}

.top-bare {
  width: 100%;
  height: 75px;
  border-bottom: 2px solid rgba(7, 76, 114, 0.38);
  background: linear-gradient(0deg, var(--background-color) 0%, var(--background-color) 100%), rgba(255, 255, 255, 0.40);
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -100px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link a,
.login-btn a {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 45px;
  text-decoration: none;
}

.login-btn {
  border-radius: 12px;
  background: var(--white);
  width: 206px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn img {
  width: 35px;
  height: 35px;
  margin-top: 20px;
}

.body-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profil-infos,
.profil-photo_profil {
  margin-top: 20px;
  width: 320px;
  height: 325px;
  padding: 20px;
  border-radius: 20px;
  background:#074C72;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
}

.profil-photo_profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profil-photo_profil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profil-photo_profil h3,
.profil-photo_profil p {
  font-family: Montserrat;
  line-height: normal;
  color: #FFF;
}

.profil-photo_profil h3 {
  color: var(--background-color);
  font-size: 18px;
  font-weight: 600;
}

.profil-photo_profil p {
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 600;
}

.profil_ {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
}

.container {
  margin-top: 60px;
  padding-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
  height:70vh;
  width: 80%;
  margin-left: 30px;
}

.container h3 {
  margin-left: 60px;
  color: #FFF;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form input {
  width: 299px;
  height: 45px;
  border-radius: 10px;
  border:solid 1px #888;
  margin-left: 10px;
  color: #074C72;
}
label{
  color: #074C72;
}
.container form .btn {
  width: 299px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #074C72;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 15px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@media (max-width: 576px) {
  .body-content{
    flex-direction: column;
    justify-content: center;
  }
  .top-bare {
    flex-direction: column;
    height: auto;
  }

  .profil-photo_profil img {
    width: 120px;
    height: 120px;
  }

  .profil-infos,
  .profil-photo_profil {
color: #FFF;
    width: 75%;

  }
  .profil-photo_profil h3,
  .profil-infos h3{
    font-size: 14px;
color: #FFF;

  }
  .profil_{
    width: 100%;
    justify-content:center;
    align-items: center;
    /* text-align: center; */
  }

  .container form input,
  .container form .btn {
    width: 100%;
  }
  form{
    flex-direction: column;

  }
  .input{
    flex-direction: column;
    margin-bottom: 20px;
    padding-right: 30px;
  }
  .container{
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
}
