@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.body{

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  margin: 0%;
  background: red;

}
.top-bare{
  width: 100%;
  height: 75px;
  /* margin-left: -30px; */
  flex-shrink: 0;
  border-bottom: 2px solid rgba(7, 76, 114, 0.38);
  background: linear-gradient(0deg, var(--BleuBase, #074C72) 0%, var(--BleuBase, #074C72) 100%), rgba(255, 255, 255, 0.40);
/* margin: 0px; */
display: flex;
margin-top: -100px;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
position: fixed;

}
.top-bare .login-btn img {
  align-items: center;
  justify-content: center;
  align-items:center ;
  text-align: center;
  margin-top: 20px;
  width: 35px;
  height: 35px;
}

.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap:40px
}
.link a{
  color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}
.login-btn{
  border-radius: 12px;
background: #FFF;

width: 206px;
height: 48px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
}

.login-btn a{
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}

a{
  text-decoration: none;
}
/* code du container body */
.top-bare .login-btn img {
  align-items: center;
  justify-content: center;
  align-items:center ;
  text-align: center;
  margin-top: 20px;
  width: 35px;
  height: 35px;
}
.body-content{
  /* margin-top: 100px; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

.profil-infos{
  width: 320px;
height: 300px;
padding: 20px;
flex-shrink: 0;
border-radius: 20px;
background: var(--Blanc, #FFF);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
}


.profil-photo_profil{
  width: 320px;
height: 325px;
flex-shrink: 0;
border-radius: 20px;
background: var(--Blanc, #FFF);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}
.profil-photo_profil img{
  width: 200px;
height: 200px;
flex-shrink: 0;
border-radius: 200px;

}
.profil-photo_profil h3{
  color: var(--BleuBase, #074C72);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.profil-photo_profil p{
  color: #888;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.profil_{
  display: flex;
flex-direction: column;
gap: 20px;
margin-left: 20px;
}


.container{
  margin-top: 60px;
  padding-top: 50px;
  width: 745px;
height: 590px;
flex-shrink: 0;
border-radius: 20px;
background: var(--Blanc, #FFF);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.19);
}
.container h3{
  margin-left: 60px;
}

.container form input{
  width: 299px;
height: 45px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(183, 183, 183, 0.32);
}

.container form .btn{
  width: 299px;
  height: 45px;
  display: inline-flex;
  padding: 12px 45px 11px 59px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
background: var(--BleuBase, #074C72);
color: var(--Blanc, #FFF);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.formulaire{
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;

}

.input{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
