<div class="notifications-container">
  <div class="notifications-header">
    <h3>Notifications</h3>
    <div class="notifications-actions">
      <span class="notification-count" *ngIf="unreadCount > 0">
        {{ unreadCount }} non lue(s)
      </span>
      <button *ngIf="!allNotificationsRead" (click)="markAllAsRead()">Marquer tout comme lu</button>
    </div>
  </div>

  <div class="notifications-list" *ngIf="notifications.length > 0; else noNotifications">
    <ng-container *ngFor="let notification of notifications">
      <div
        class="notification-item"
        *ngIf="!notification.read"
        (click)="markAsRead(notification.id)">
        <div class="notification-content">
          <p>{{ notification.message }}</p>
          <span class="notification-date">
            <!-- {{ notification.created_at | date:'dd/MM/yyyy HH:mm' }} -->
          </span>
        </div>
        <span class="unread-dot"></span> <!-- Affiche le point uniquement si non lu -->
      </div>
    </ng-container>
  </div>

  <ng-template #noNotifications>
    <div class="no-notifications">
      Aucune notification
    </div>
  </ng-template>
</div>
