<div class="body">
  <!-- sidebar.component.html -->
  <app-side-barre-chauffeur></app-side-barre-chauffeur>

    <div class="content">
     <div class="top">


     <div class="header d-flex justify-content-around align-items-center">
      <h3> Bienvenue dans votre espace de gestion Rahma</h3>
      <div class="profil d-flex align-items-center">
        <i class="fas fa-bell me-3"></i>
        <img src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="Profile">
        <span>Abdallah </span>
      </div>
    </div>
     <div class="btn-saction">

     </div>
     </div>

     <div class="content-section">
      <router-outlet></router-outlet>
    </div>
    </div>
  </div>
