

body{

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  margin: 0%;



}
.top-bare{
  width: 100%;
  height: 75px;
  /* margin-left: -30px; */
  flex-shrink: 0;
  border-bottom: 2px solid rgba(7, 76, 114, 0.38);
  background: linear-gradient(0deg, var(--BleuBase, #074C72) 0%, var(--BleuBase, #074C72) 100%), rgba(255, 255, 255, 0.40);
/* margin: 0px; */
display: flex;
margin-top: -100px;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
position: fixed;

}
.top-bare .login-btn img {
  align-items: center;
  justify-content: center;
  align-items:center ;
  text-align: center;
  margin-top: 20px;
  width: 35px;
  height: 35px;
}

.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap:40px
}
.link a{
  color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}
.login-btn{
  border-radius: 12px;
background: #FFF;

width: 206px;
height: 48px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
}

.login-btn a{
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 250% */
}

a{
  text-decoration: none;
}
.body-content{
  margin-left: 80px;
  margin-top: 130px;
  display: flex;
  flex-direction: row;

  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
gap: 40px;
padding-bottom: 50px;
}

a{
  text-decoration: none;

}



.card-annonce-item{
  width: 384px;
height: 380px;
flex-shrink: 0;
border-radius: 4px;
background: #F5F5F5;
box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
}


.image-section{
  width: 364px;
  height: 145px;
  flex-shrink: 0;
  border-radius: 4px;
background: var(--Blanc, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left: 10px;
margin-right: 10px;
margin-top: -10px;
display:flex ;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
align-items: center;
}

.image-section img{
  width: 120px;
  height: 120px;
}

.destination-titre{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top:20px ;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  color: var(--BleuBase, #074C72);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 281.25% */
}

.date-voyage{
  display:flex;
flex-direction: row;
/* align-items: center;
text-align: center; */
margin-top: 10px;
margin-left: 10px;
/* margin-top: -px; */
gap: 10px;

color: var(--BleuBase, #074C72);
text-align: center;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 92.308% */
}
.prix{
  display: flex;
  flex-direction: row;
  /* text-align: center;
  align-items: center; */
  margin-left: 10px;
  justify-content: start;
margin-top: 02px;
gap: 10px;

color: var(--BleuBase, #074C72);
text-align: center;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 92.308% */
}
.devis-argaent, p{
  margin-top: 8px;
}
.adresse{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-left: 10px;
/* margin-top: -9px; */
gap: 10px;

color: var(--BleuBase, #074C72);
text-align: center;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 92.308% */
}

.btn-reservation-GP{
  display: flex;
width: 190px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--RougeBase, #B50302);
margin-left: 97px;
margin-right: 97px;
margin-top: 12px;
bottom: 22px;
}
.btn-reservation-GP a{
  color: var(--Blanc, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 100% */
}

.titrePage{
  margin-top: 100px;
  width: 817px;
height: 100px;
flex-shrink: 0;
border-radius: 8px;
/* background: var(--BleuBase, #074C72); */
color: #010101;
border-bottom: 2px solid #074C72;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
margin-left:20%;

font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 72.727% */
}
