<div class="container">
  <!-- Menu Burger -->
  <div class="burger-menu" (click)="Menutoggle()">
    <i class="fas fa-bars"></i>
  </div>

  <!-- Sidebar as Tab List -->
  <aside class="sidebar" [class.active]="isMenuOpen">
      <div class="logo">
          <img src="./../../../../../assets/images/logos_icons/logoM2.png" alt="">
      </div>

      <ul class="tab-list">
          <li [class.active]="activeTab === 'dashboard'" (click)="setActiveTab('dashboard')">
              <i class="fas fa-tachometer-alt"></i>
              Tableau de bord
          </li>
          <li [class.active]="activeTab === 'commandes'" (click)="setActiveTab('commandes')">
              <i class="fas fa-box"></i>
              Mes annonces
          </li>
          <li [class.active]="activeTab === 'ajouterAnnonce'" (click)="setActiveTab('ajouterAnnonce')">
              <i class="fas fa-plus-square"></i>
              Ajouter une Annonce
          </li>
          <li [class.active]="activeTab === 'notifications'" (click)="setActiveTab('reservations')">
              <i class="fas fas-not  fa-bell"></i>
              Notifications
          </li>
          <li [class.active]="activeTab === 'parametres'" (click)="setActiveTab('parametres')">
              <i class="fas fa-cog"></i>
              Paramètres profil
          </li>

      </ul>
  </aside>

  <!-- Header -->
  <div class="top-bar">
      <h5 class="tb">Tableau de bord GP</h5>
      <h5>Bienvenue sur votre tableau de bord</h5>
      <div>
         <div class="btn-top">
          <button>
            <i class="fas fa-bell"></i>
        </button>
        <button class="logoutbtn" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
        </button>
         </div>
      </div>
  </div>


  <div class="main-content">
      <!-- Contenu des onglets -->
      <div class="tab-content">
          <ng-container *ngIf="activeTab === 'dashboard'">
              <h2>Statistiques du Dashboard</h2>
              <app-statistiques></app-statistiques>

          </ng-container>

          <ng-container *ngIf="activeTab === 'commandes'">
              <h2>Mes annonces</h2>
              <div class="main-content" id="mesAnnonces">



                <!-- Revenue, Poids, Réservations -->
                <div class="stats">
                    <div class="stat-box">
                        <p>Nombre d'annonces :</p>
                        <h3>{{ statistiques?.nombre_annonces }}</h3>
                        <h4>Annonces</h4>
                    </div>
                    <div class="stat-box">
                        <p>Nombre de réservations :</p>
                        <h3>{{ statistiques?.nombre_reservations }}</h3>
                    </div>
                    <div class="stat-box">
                        <p>Nombre de colis </p>
                        <h3>{{ statistiques?.nombre_reservations }}</h3>

                    </div>
                </div>


                <!-- Mes commandes récentes -->
                <div class="orders">
                <div class="titreRecherche">
                  <!-- <h4>Mes annonces récentes</h4> -->

                  <!-- Barre de recherche -->
                  <div class="search-bar">
                    <input type="text" [(ngModel)]="searchQuery" (input)="filterAnnonces()" placeholder="Rechercher une annonce">
                  </div>
                </div>

                  <!-- Affichage des annonces filtrées
                  <div *ngFor="let annonce of filteredAnnonces">
                    <h5>{{ annonce.titre }}</h5>
                     Autres détails de l'annonce
                  </div> -->
                  <div class="order-cards">
                    <div class="card" *ngFor="let annonce of getPaginatedAnnonces()">
                      <img src="./../../../../../assets/images/images_/immageAnnonceGP.png" alt="Image de provenance">
                      <div class="card-body">
                        <h5>{{ annonce.pays_destination }} le <span>{{ annonce.date_fin_reception_colis | date:'dd/MM/yyyy' }}</span></h5>
                        <p>{{ annonce.poids_kg }} kg pour cet annonce</p>
                        <button class="btn" (click)="showAnnonces(annonce.id)">Voir les détails</button>
                      </div>
                    </div>
                  </div>

                  <!-- Boutons de pagination -->
                  <div class="pagination">
                    <button class="btn" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
                    <span>Page {{currentPage}} / {{totalPages}}</span>
                    <button class="btn" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
                  </div>

                  <div class="modal" *ngIf="isModalVisible">
                    <div class="modal-content">
                      <span class="close" (click)="closeModal()">Fermer</span>

                      <div *ngIf="annonce">
                        <h3 class="modal-title">Détails de l'annonce</h3>
                        <div class="modal-details p-4" style=" color: #074C72;">
                          <h3 class="mb-4" style="color: #074C72;">Détails de l'annonce</h3>

                          <!-- Informations de l'annonce -->
                          <p><strong>Titre:</strong> {{ annonce.titre }}</p>
                          <p><strong>Pays de provenance:</strong> {{ annonce.pays_provenance }}</p>
                          <p><strong>Pays de destination:</strong> {{ annonce.pays_destination }}</p>
                          <p><strong>Date de début de réception des colis:</strong> {{ annonce.date_debut_reception_colis | date:'short' }}</p>
                          <p><strong>Date de fin de réception des colis:</strong> {{ annonce.date_fin_reception_colis | date:'short' }}</p>

                          <div class="image-container mb-3">
                            <img *ngIf="annonce.photo_pays_voyage_provenance" [src]="annonce.photo_pays_voyage_provenance" alt="Pays de provenance" class="modal-image img-fluid mb-2" style="border: 2px solid #074C72;">
                            <img *ngIf="annonce.photo_pays_voyage_destination" [src]="annonce.photo_pays_voyage_destination" alt="Pays de destination" class="modal-image img-fluid" style="border: 2px solid #074C72;">
                          </div>

                          <p><strong>Poids (kg) à emporter:</strong> {{ annonce.poids_kg }} Kg</p>
                          <p><strong>Poids (kg) restants:</strong> {{ annonce.available_weight }} Kg</p>

                          <p>
                            <strong> Poids enregistré :</strong>
                             {{ (annonce.poids_kg - annonce.available_weight)  }}
                           </p>
                          <p><strong>Tarif:</strong> {{ annonce.prix_par_kg }} Fcfa</p>
                          <p><strong>Statut:</strong> {{ annonce.statut }}</p>
                          <p><strong>Conditions:</strong> {{ annonce.condition }}</p>
                          <p ><strong>Somme générée sur cette annonce:</strong> <span style="color: #B50302;">{{ (annonce.poids_kg - annonce.available_weight) * annonce.prix_par_kg | currency:'FCFA':'symbol' }}</span></p>

                          <h4 class="mt-4" style="color: #B50302;">Nombre de Réservations: {{ annonce.reservations.length }}</h4>

                          <h5 class="mt-4" style="color: #074C72;">Détails des Réservations</h5>
                          <div *ngIf="annonce.reservations && annonce.reservations.length > 0" class="row">
                            <div *ngFor="let reservation of annonce.reservations" class="col-md-4 mb-4">
                              <div class="card mb-4" style="margin: 20px; gap: 40px;">
                                <div class="card-body">
                                  <h5 class="card-title" style="color: #074C72;">Nom: {{ reservation.user.nom }} {{ reservation.user.prenom }}</h5>
                                  <p class="card-text"><strong>Email:</strong> {{ reservation.user.email }}</p>
                                  <p class="card-text"><strong>Téléphone:</strong> {{ reservation.user.telephone }}</p>
                                  <p class="card-text"><strong>Colis:</strong> {{ reservation.colis.titre }} ({{ reservation.colis.poids_kg }} kg)</p>

                                  <div class="form-group">
                                    <label for="statusSelect" style="color: #ffffff;">Statut:</label>
                                    <select id="statusSelect" class="form-control" (change)="changerStatutReservation(reservation.id, $event)" style="background-color: #074C72; border-color: #B50302;">
                                      <option style="color: #ffffff;" value="en attente" [selected]="reservation.status === 'en attente'">En attente</option>
                                      <option style="color: #ffffff;" value="confirmée" [selected]="reservation.status === 'confirmée'">Confirmée</option>
                                      <option style="color: #ffffff;" value="annulée" [selected]="reservation.status === 'annulée'">Annulée</option>
                                    </select>
                                  </div>

                                  <a href="colis-details/{{reservation.colis.id}}" class="btn btn-primary mt-3" style="background-color: #B50302; border-color: #B50302;">Voir les détails</a>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  </div>



              </div>









          </ng-container>


          <ng-container *ngIf="activeTab === 'ajouterAnnonce'">
              <h2>Ajouter une Annonce</h2>
            <app-annonce-form></app-annonce-form>
          </ng-container>

          <ng-container *ngIf="activeTab === 'notifications'">
              <h2>Notifications</h2>
              <app-notifications></app-notifications>
            </ng-container>

          <ng-container *ngIf="activeTab === 'parametres'">
              <h2>Paramètres</h2>
              <app-profil></app-profil>
            </ng-container>




      </div>
  </div>
</div>
