
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  margin: 0%;
}

.titreRecherche {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 20px;
  gap: 180px;
  margin-left: 100px;
}

.titreRecherche h4 {
  margin-left: -230px;
}

.search-bar input {
  margin-left: 200px;
  width: 340px;
  height: 40px;
  padding: 6px;
  border-radius: 8px;
  border: 2px solid var(--BleuBase, #074C72);
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  margin-top: 140px;
  width: 250px;
  height: 80vh;
  text-align: center;
  position: fixed;
  background-color: var(--BleuBase, #074C72);
  border-radius: 12px;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 30px;
}

.sidebar ul {
  gap: 20px;
}

.sidebar img {
  width: 120px;
}

.fa-bell {
  background: #FF9F02;
  border-radius: 12px;
}
.fas-not{
  background: transparent;
}

.fa-sign-out-alt {
  background: transparent;
}

.logoutbtn {
  background: #074C72;
  color: #FFF;
}

.top-bar button {
  margin: 20px;
  border: 0px;
  border-radius: 12px;
}

.main-content {
  flex-grow: 1;
  margin-top: 110px;
  margin-left: 140px;
  padding: 20px;
}

li a {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
  color: #FFF;
  width: 100%;
  margin-top: 30px;
}
li{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
}

.top-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #005f7f;
  color: #fff;
  z-index: 10;
  /* margin-left: -15px; */
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.fas {
  width: 50px;
  height: 50px;
}

i {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Blanc, #FFF);
  flex-direction: row;
}

.stat-box {
  padding: 20px;
  border: 3px solid var(--Jaunebase, #FF9F02);
  text-align: center;
  border-radius: 5px;
  flex: 1 1 30%;
  margin: 10px;
}

.orders {
  margin: 20px;
}
.orders{
  margin-left: 40px;
}

.orders h4 {
  margin-bottom: 20px;
}

.order-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 240px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: start;
}

.card img {
  width: 240px;
  height: 143px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card h5 {
  margin-top: 10px;
  color: var(--BleuBase, #074C72);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card p {
  color: var(--BleuBase, #074C72);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-body {
  padding: 20px;
}

.card .btn {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Jaunebase, #FF9F02);
  background: var(--Blanc, #FFF);
  margin: 10px 0;
  cursor: pointer;
}

.card .btn:hover {
  background-color: #e0a800;
}

.planned-trips {
  margin: 20px 0;
}

.trip-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sidebar button {
  background: transparent;
  border: 0px;
}



.trip-button {
  border-radius: 4px;
  background: rgba(255, 159, 2, 0.41);
  padding: 15px 20px;
  border: none;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.trip-button.light {
  background-color: #f0f0f0;
}

.trip-button.light:hover {
  background-color: #ddd;
}

.trip-button:hover {
  background-color: #e0a800;
}

.sidebar h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 0;
  bottom: 120px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  top: 200px;
  bottom: 120px;
  padding-bottom: 200px;
  max-width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top:690px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #c60f0f;
}

.modal-content h2,
.modal-content h3 {
  margin-bottom: 15px;
}

.chiffre {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Pour espacer les éléments */
  align-items: center; /* Centrer les éléments verticalement */
  gap: 20px; /* Espacement entre les éléments */
  margin: 20px 0; /* Marge autour du bloc */
}

.chiffre app-revenu-total,
.chiffre app-poids-enregistrer,
.chiffre app-stat-reservation {
  flex: 1;
}

@media (max-width: 768px) {
  .chiffre {
    flex-direction: column; /* Empiler les éléments sur les petits écrans */
    align-items: flex-start; /* Alignement à gauche sur petits écrans */
  }
}

.modal-content p {
  margin: 10px 0;
  line-height: 1.5;
}

.modal-content img {
  margin: 10px 5px;
  max-width: 120px;
  height: auto;
  border-radius: 8px;
}

.modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.modal-content table th,
.modal-content table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.modal-content table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

app-notifications{
  margin-top: 20px;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .sidebar {
    background-color: #074C72;
    position: fixed;
    width: 260px;
    left: -260px;
  }

  .sidebar.active {
    left: 0;
  }

  .top-bar {
    padding: 10px;
  }

  .tab-list li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
  }

  .tab-list li:hover, .tab-list li.active {
    color: #fff;
    background: #074C72;
  }

  .top-bar h5 {
    font-size: 16px;
  }

  .main-content {
    margin-left: 270px;
  }

  .card {
    width: 100%;
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination .btn {
  background-color: #074C72; /* Ton vert préféré */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination .btn:hover {
  background-color: #005f7f; /* Légèrement plus foncé au hover */
}

.pagination .btn:disabled {
  background-color: #ccc; /* Grisé si le bouton est désactivé */
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    /* Réduire la largeur de la sidebar sur mobile */
  }

  .main-content {
    margin-left: 220px; /* Ajuster la marge de la zone principale */
  }

  .card {
    width: 100%; /* Les cartes occuperont toute la largeur sur mobile */
  }

  .titreRecherche {
    flex-direction: column; /* Les éléments s'empilent sur mobile */
    align-items: center; /* Centrer les éléments */
  }

  .search-bar input {
    width: 90%; /* Réduire la largeur de la barre de recherche sur mobile */
    margin-left: 0; /* Supprimer la marge */
  }
}

/* .sidebar { */
  /* Styles pour la sidebar */
/* } */

.tab-list {
  list-style: none;
  padding: 0;
}

.tab-list li {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 15px;
  transition: background 0.3s, color 0.3s;
}

.tab-list li.active {
  /* background: #f0f0f0; Couleur de fond pour l'onglet actif */
  font-weight: bold;
  background: #B50302;
  color: #FFF;
}

/* Styles pour le contenu */
.tab-content {
  border: 1px solid #ddd;
  padding: 20px;
  margin-left: 130px;
  border-radius: 4px;
}
#mesAnnonces{
  margin-top: 40px;
  margin-left: 0px;
}
#mesAnnonces .orders{
  margin: 0px;
}



.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #c60f0f;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding-top: 200px;

}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  width: 95%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-top: 300px;
}

.close {
  position: absolute;
  top: 10px;
  right:  10px;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}

.close:hover {
  color: #000;
}

.modal-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.modal-details {
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.modal-image {
  width: 120px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  margin: 5px 0;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
